body{
  background:#0d1117;
  color:white;
  font-family:Arial;
  text-align:center;
}

input{
  padding:10px;
  width:300px;
}

button{
  padding:10px;
  margin-left:5px;
}

.card{
  background:#161b22;
  padding:15px;
  margin:10px auto;
  width:600px;
  border-radius:10px;
  text-align:left;
}
